
*{
	/* set border box */
	box-sizing: border-box;
}

.menu div {
	margin: 10px 20px;
}

.menu p {
	display: inline;
	margin-left: 20px;
}

.menu {
	margin: 20px;
}

.menu1 button {
	width: 60px;
	height: 60px;
	background-size: 50px 50px;
}

.function button {
	margin: 0px 20px;
	width: 40px;
	height: 40px;
	background-size: 35px 35px;
	font-size: 12px;
}

.color {
	width: 30px;
	height: 30px;
	padding: 0px;
}

.rangeBar {
	width: 100px;
}

.hidden {
	display: none;
}

.header {
	line-height: 50px;
	font-family: "Permanent Marker", "Calibri";
	font-size: 70px;
}

.intro {
	line-height: 40px;
	font-family: "Dancing Script", "Calibri";
	font-size: 30px;
}

.footer{
	margin: 20px 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.canvas {
	display: inline;
	position: relative;
}

.sideBar {
	width: 80px;
	position: absolute;
	bottom: 40px;
	right: -80px;
}

.sideBar p {
	margin: 5px 0px;
	color: white;
	text-shadow: 0px 0px 5px black;
	font-size: 16px;
}

.footer p {
	color: white;
	padding: 5px;
	font-style: italic;
}

#brush {
	background-image: url("../img/button/brush.png");
}

#circle {
	background-image: url("../img/button/circle.png");
}

#rect {
	background-image: url("../img/button/rectangle.png");
	font-size: 12px;
}

#triangle {
	background-image: url("../img/button/triangle.png");
	font-size: 14px;
}

#line {
	background-image: url("../img/button/line.png");
}

#eraser {
	background-image: url("../img/button/eraser.png");
}

#text {
	background-image: url("../img/button/text.png");
}

#img {
	background-image: url("../img/button/stamp.png");
}

#download button{
	margin-top: 5px;
	width: 40px;
	height: 40px;
	background-image: url("../img/button/download.png");
	background-size: 30px 30px;
}

#undo {
	background-image: url("../img/button/undo_ban.png");
}

#reset {
	background-image: url("../img/button/new.png");
}

#redo {
	background-image: url("../img/button/redo_ban.png");
}

#imgUpload {
	width: 200px;
}

#imgWidth, #imgHeight {
	width: 50px;
}

body {
	background: url("../img/background.jpg") no-repeat fixed center;
	background-size: cover;
	text-align: center;
}
 
canvas {
	background-color: #FFFFFF;
	border: 2px solid black;
	border-radius: 20px;
	margin: 20px 0;
}

button{
	padding: 0px;
	margin: 0px 5px;
	border-radius: 12px;
	background-color: #FFFFFF;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 5px black;
	font-size: 16px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

hr {
	margin: 40px 10%;
}

a {
	color: rgb(0, 100, 255);
}

a:link {
	color: rgb(0, 100, 255);
}

a:hover {
	color: rgb(0, 100, 255);
	text-decoration: underline;
}

a:visited {
	color: 'pink';
	border-color: 5px;
	text-decoration: none;
}